$customYellow: #fee15a;
$customLightOrange: #fccd7a;
$customOrange: #f9c0a0;
$customRed: #f18992;
$customPink: #ea99c7;
$customLightGreen: #cbe59c;
$customGreen: #9be0ba;
$customBlue: #99c9ef;
$customBlueViolet: #9fb0fa;
$customViolet: #c7a3da;
$customLightGray: #ebebeb;
$customGray: #b6b6b6;